* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #d3d3d3;
}

.main {
    height: 100vmin;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loading-screen {
    position: absolute;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.8);
}

.display-none {
    display: none !important; 
}

.spinner {
    height: 100px;
    width: 100px;
    -webkit-animation: rotation .9s infinite linear;
    -moz-animation: rotation .9s infinite linear;
    -o-animation: rotation .9s infinite linear;
    animation: rotation .9s infinite linear;
}

.spinner-text {
    font-size: 3rem;
    color: #fff;
    margin-bottom: 1rem;
}
    
@-webkit-keyframes rotation {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(359deg);}
}
    
@-moz-keyframes rotation {
    from {-moz-transform: rotate(0deg);}
    to {-moz-transform: rotate(359deg);}
}
    
@-o-keyframes rotation {
    from {-o-transform: rotate(0deg);}
    to {-o-transform: rotate(359deg);}
}
    
@keyframes rotation {
    from {transform: rotate(0deg);}
    to {transform: rotate(359deg);}
}

.canvas-container {
    margin: 1rem 0;
    padding: 1rem;
    height: fit-content;
    width: 60%;
    border-radius: 20px;
    background: #f3f3f3;
}

.container {
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 20px;
    width: 70%;
    display: flex;
    justify-content: space-between;
    background: #f3f3f3;
}

.btn {
    color: #fff;
    font-size: 2rem;
    border-radius: 10px;
    padding: 1rem;
    background: #0090C0;
    border: 0;
    cursor: pointer;
}

.btn:hover {
    background: #007DA7;
}

select {
    width: 100%;
    font-size: 2rem;
    border-radius: 10px;
}